{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Я ничего не умею</h1>
    <p>Но были использованы следующие технологии:</p>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
  </div>
</div>
<div style="margin:auto;width:20%;border:5px solid; padding:10px;margin-top:299px">
      <p style="color:pink;font-size:15px;text-align:center">!WOW!</p>
</div>
{% endblock %} 